<?xml version="1.0"?>
<!--
/**
 * Copyright © Risecommerce (support@risecommerce.com). All rights reserved.
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Risecommerce\AutoLanguageSwitcher\Api\SuggestedStoreInterface" type="Risecommerce\AutoLanguageSwitcher\Model\SuggestedStore"/>
</config>
